<div class="container sub_section pt-2 pb-2" id="aboutid">
    <div class="section_header text-center mb-2">
        <h1 class="text-uppercase">COVID-19 DayWise Updates In INDIA</h1>
    </div>
</div>

<div class="table-responsive">
    <table class="table" *ngFor="let daily of DailyData">
        <thead class="text-capitalize">
            <tr><strong>Date & Month</strong></tr>
            <tr><b>{{daily.date}} 2020</b></tr>
            <tr>
                <th>dailyconfirmed</th>
                <th>dailydeceased</th>
                <th>dailyrecovered</th>
                <th>totalconfirmed</th>
                <th>totaldeceased</th>
                <th>totalrecovered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{daily.dailyconfirmed}}</td>
                <td>{{daily.dailydeceased}}</td>
                <td>{{daily.dailyrecovered}}</td>
                <td>{{daily.totalconfirmed}}</td>
                <td class="text-danger">{{daily.totaldeceased}}</td>
                <td>{{daily.totalrecovered}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- ****top button***** -->

<button id="myBtn" title="Go to top" (click)="topFunction()">Top</button>