<!-- Main Header -->

<div class="main_header" id="ma">
  <div class="row w-100 h-100">
    <div class="col-lg-5 col-md-5 col-12 order-lg-1 order-2">
      <div class="leftsaid w-100 h-100 d-flex justify-content-center align-items-center">
        <img src="assets/images/main.png" class="img-fluid">
      </div>
    </div>
    <div class="col-lg-7 col-md-7 col-12 order-lg-2 order-1">
      <div class="right w-100 h-100 d-flex justify-content-center align-items-center">
        <h1>Let's Stay Safe & Fight Together Against Cor&nbsp;<span id="corona_rot">
            <img src="assets/corona/corono logo.png" width="60px" height="60px" class="img"></span> &nbsp;na Virus</h1> 
      </div> 
    </div>
  </div>
</div>


<!-- Update Data -->

<section class="corona_update text-center">
  <div class="mb-3">
    <h2 class="text-uppercase"><strong>COVID-19 Updates</strong></h2>
  </div>
  <div class="d-flex justify-content-around align-items-center count_style banner">
    <div>
      <h2 class="count text-primary" *ngIf="checkcon">{{worldData.TotalConfirmed}}</h2>
      <p>Total Confirmed</p>
    </div>
    <div>
      <h2 class="count text-success" *ngIf="checkcon">{{worldData.TotalRecovered}}</h2>
      <p>Total Recovered</p>
    </div>
    <div>
      <h2 class="count text-danger" *ngIf="checkcon">{{worldData.TotalDeaths}}</h2>
      <p>Death</p>
    </div>
    <div>
      <h2 class="count text-warning" *ngIf="checkcon">{{worldData.NewConfirmed}}</h2>
      <p>Today Confirmed</p>
    </div>
  </div>
</section>

<!-- About Section -->

<div class="container-fluid sub_section pt-5 pb-5" id="aboutid">
  <div class="section_header text-center mb-5 mt-4">
    <h1>About COVID-19</h1>
  </div>
  <div class="row pt-5">
    <div class="col-lg-5 col-md col-12 ">
      <img src="assets/images/images.jpg" class="img-fluid" height="200px" width="500px">
    </div>
    <div class="col-lg col-md clo-12">
      <h2>What is COVID19(corona-virus)</h2>
      <p>Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness and recover
        without requiring special treatment. Older people, and those with underlying medical problems like
        cardiovascular disease,
        diabetes, chronic respiratory disease,
        and cancer are more likely to develop serious illness.
        The best way to prevent and slow down transmission is be well informed about the COVID-19 virus, the disease it
        causes and how it spreads.
        Protect yourself and others from infection by washing your hands or using an alcohol based rub frequently and
        not touching your </p>
    </div>
  </div>
  <div class="container-fluid  pt-5 pb-5 symtos" id="symptoms">
    <div class="section_header text-center mb-5 mt-4">
      <h1>coronavirus Symptoms</h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/coughing.jpg" class="img-fluid" width="120" height="120">
            <figcaption>coughs</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/unnamed.jpg" class="img-fluid" width="100" height="">
            <figcaption>Runny Nose</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/fever.jpg" class="img-fluid" width="120" height="120">
            <figcaption>fever</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/cold2jpg.jpg" class="img-fluid" width="120" height="120">
            <figcaption>cold</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/tide2.jpg" class="img-fluid" width="120" height="120">
            <figcaption>tiredness</figcaption>
          </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
          <figure class="text-center">
            <img src="assets/images/difficulty.jpg" class="img-fluid" width="120" height="120">
            <figcaption>deficult breathing</figcaption>
          </figure>
        </div>
      </div>
    </div>
  </div>

  <!-- Prevention of covid-19 -->


  <div class="container-fluid sub_section pt-3 pb-3" id="prevention">
    <div class="section_header text-center mb-5 mt-2">
      <h1>6 steps to Prevantion Against CoronaVirus</h1>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 col-12 mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div>
              
                <img src="assets/images/hand.png" width="90" height="90">

              
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>Wash your hands regularly for 20 seconds, with soap and water or alcohol-based hand rub</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div>
              
                <img src="assets/images/young2.jpg" width="90" height="90">

              
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>Cover your nose and mouth with a disposable tissue or flexed elbow when you cough or sneeze
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div>
              
                <img src="assets/images/avoid.png" width="90" height="90">

              
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>Avoid close contact (1 meter or 3 feet) with people who are unwell</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div>
              
                <img src="assets/images/homepng.png" width="90" height="90">

              
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>Stay home and self-isolate from others in the household if you feel unwell</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            <div>
              
                <img src="assets/corona/runny nose.png" width="90" height="90">
              
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>stay informed by watching the news and follow recommended practices</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-12 mt-5">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-12">
            
              <img src="assets/images/medicalpng.png" width="90" height="90">
            
          </div>
          <div class="col-lg-4 col-md-4 col-12">
            <p>if you have fever,cough and difficulty breathing seek medical care only</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ****top button***** -->

<button id="myBtn" title="Go to top" (click)="topFunction()">Top</button>
<!-- <app-footer></app-footer> -->